main.login
    .container 
        section.wrap-center 
            h3.login__title Вход
            form(action="#")
                .login__form
                    .login__inputs
                        .login__input-wrap
                            .login__input-title Введите логин
                            input.login__input.error(type="text" placeholder="Логин")
                            span.input__error тут будет текст ошибки, может длинный, а может и нет
                        .login__input-wrap
                            .login__input-title Введите пароль
                            input.login__input(type="text" placeholder="Пароль")
                a.login__forget(href="#") Забыл пароль
                .login__enter
                    button.login__btn(type="sumbit") Войти