main.main
    section.main-about
        h1.about__title Оцени работу общественных и политических деятелей твоего города
        .container
            form.about__search(action="#")
                input.about__input(type="text" placeholder="Поиск по адресу проживания")
                button.about__search-btn Поиск
            ul.about__advantages
                li.advantages__item
                    .advantages__img
                        img(src="@img/index/evaluation.png", alt="Оценка")
                    h3.advantages__title Прозрачная оценка
                    p.advantages__text Текст текст текст текст текст текст текст текст текст тексттекст текст текст текст текст текст текст текст текст тексттекст текст текст текст
                li.advantages__item
                    .advantages__img
                        img(src="@img/index/check.png", alt="Проверка")
                    h3.advantages__title Проверяем отзывы
                    p.advantages__text Текст текст текст текст текст текст текст текст текст тексттекст текст текст текст текст текст текст текст текст тексттекст текст текст текст
                li.advantages__item
                    .advantages__img
                        img(src="@img/index/shild.png", alt="Защита")
                    h3.advantages__title Независимый ресурс
                    p.advantages__text Текст текст текст текст текст текст текст текст текст тексттекст текст текст текст текст текст текст текст текст тексттекст текст текст текст
    .container
        section.main-comment
            h3.comment__title Комментируют сейчас
            .comment__wrap
                ul.comment__list
                    li.comment__item
                        figure
                            img.comment__img(src="@img/index/photo.jpg", alt="Фото")
                            figcaption.comment__name Иванов Михаил Игоревич
                        .comment__rate.rate(data-color="green") 8.2
                    li.comment__item
                        figure
                            img.comment__img(src="@img/index/photo.jpg", alt="Фото")
                            figcaption.comment__name Иванов Михаил Игоревич
                        .comment__rate.rate(data-color="yellow") 6.2
                    li.comment__item
                        figure
                            img.comment__img(src="@img/index/photo.jpg", alt="Фото")
                            figcaption.comment__name Иванов Михаил Игоревич
                        .comment__rate.rate(data-color="red") 3.1
                    li.comment__item
                        figure
                            img.comment__img(src="@img/index/photo.jpg", alt="Фото")
                            figcaption.comment__name Иванов Михаил Игоревич
                        .comment__rate.rate(data-color="green") 8.2
                    li.comment__item
                        figure
                            img.comment__img(src="@img/index/photo.jpg", alt="Фото")
                            figcaption.comment__name Иванов Михаил Игоревич
                        .comment__rate.rate(data-color="green") 8.2
        hr.main__line
        section.main-article
            .article__wrap
                img.article__img(src="@img/index/news.jpg", alt="Статья")
                .article__inner
                    h2.article__title Заголовок
                    p.article__text Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    a.article__link(href="survey.html") Поставить оценку 
            
        