main.politicians
    .container 
        section
            h1.politicians__title Все политики
            ul.politicians__list 
                li.politicians__item
                    .politicians__photo
                        img(src="@img/politician/politician.jpg", alt="Депутат")
                    .politicians__text
                        .politicians__name Локоть Анатолий Евгеньевич
                        .politicians__post Мэр города новосибирск
                        .politician-rating.politician-rating--mobile
                            .politician-rating.politician-rating--politicians
                                .politician-rating__value.politician-rating__value--list.rate(data-color="green") 8.2
                                .politician-rating__quantity.politician-rating__quantity--info
                                    span 156
                                    | &nbsp;оценок   
                    .politician-rating.politician-rating--list
                        .politician-rating.politician-rating--info
                            .politician-rating__value.politician-rating__value--info.rate(data-color="green") 8.2
                            .politician-rating__quantity.politician-rating__quantity--info
                                span 156
                                | &nbsp;оценок   