main.login
    .container 
        section.wrap-center 
            h3.login__title Регистрация
            form(action="#")
                .login__form
                    .login__inputs
                        .login__input-wrap
                            .login__input-title Введите логин
                            input.login__input(type="text" placeholder="Логин")
                        .login__input-wrap
                            .login__input-title Введите пароль
                            input.login__input(type="text" placeholder="Пароль")
                .login__enter.login__enter--register
                    button.login__btn(type="sumbit") Зарегистрироваться