main.reviews
    .container 
        section.reviews__wrap
            h1.reviews__title Ваши отзывы
            ul.reviews__list
                li.reviews__item
                    .reviews__content
                        .reviews__head
                            .reviews__user 
                                img(src="@img/icons/user.svg", alt="Пользователь")
                                p.reviews__profile Профиль
                        .reviews__descriprion
                            .reviews__text Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                            .politician-rating
                                .politician-rating__value.politician-rating__value--review.rate(data-color="green") 8.2
                        p.reviews__date 6 дней назад
                        .reviews__del Удалить
                    .reviews__target
                        .reviews__img
                            img(src="@img/index/photo.jpg", alt="Депутат")
                        .reviews__info 
                            .reviews__name Иванов Иван Иванович
                                .reviews__label Текст текст текст текст текст текст
                            .politician-rating.politician-rating--target
                                .politician-rating__value.politician-rating__value--target.rate(data-color="green") 8.2
                li.reviews__item
                    .reviews__content
                        .reviews__head
                            .reviews__user 
                                img(src="@img/icons/user.svg", alt="Пользователь")
                                p.reviews__profile Профиль
                        .reviews__stars.js-starsWrap
                            .reviews__stars-wrap.js-starsCount(data-count="8")
                                .rating-result.rating-result--reviews
                                    span
                                    span
                                    span
                                    span
                                    span
                                    span
                                    span
                                    span
                                    span
                                    span 
                        .reviews__descriprion
                            .reviews__text Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                            .politician-rating
                                .politician-rating__value.politician-rating__value--review.rate(data-color="green") 8.2
                        p.reviews__date 6 дней назад
                        .reviews__del Удалить
                    .reviews__target
                        .reviews__img
                            img(src="@img/index/photo.jpg", alt="Депутат")
                        .reviews__info
                            .reviews__name Иванов Иван Иванович
                                .reviews__label Текст текст текст текст текст текст
                            .politician-rating.politician-rating--target
                                .politician-rating__value.politician-rating__value--target.rate(data-color="green") 8.2
                li.reviews__item
                    .reviews__content
                        .reviews__head
                            .reviews__user 
                                img(src="@img/icons/user.svg", alt="Пользователь")
                                p.reviews__profile Профиль
                        .reviews__descriprion
                            .reviews__text Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                            .politician-rating
                                .politician-rating__value.politician-rating__value--review.rate(data-color="green") 8.2
                        p.reviews__date 6 дней назад
                        .reviews__del Удалить
                    .reviews__target
                        .reviews__img
                            img(src="@img/index/photo.jpg", alt="Депутат")
                        .reviews__info
                            .reviews__name Иванов Иван Иванович
                                .reviews__label Текст текст текст текст текст текст
                            .politician-rating.politician-rating--target
                                .politician-rating__value.politician-rating__value--target.rate(data-color="green") 8.2

