main.search
    .container 
        section.search-wrap
            form(action="#")
                .search__form
                    .search__title Поиск по ...
                    .search__input-item
                        input.search__input(type="text" placeholder="текст")
                    .search__input-item
                        input.search__input(type="text" placeholder="текст")
                    .search__input-item
                        input.search__input(type="text" placeholder="текст")
                    button.search__btn(type="sumbit") Поиск
            form(action="#")
                .search__form
                    .search__title Поиск по ...
                    .search__input-item
                        input.search__input(type="text" placeholder="текст")
                    .search__input-item
                        input.search__input(type="text" placeholder="текст")
                    button.search__btn(type="sumbit") Поиск
            form(action="#")
                .search__form
                    .search__title Поиск по ...
                    .search__input-item
                        input.search__input(type="text" placeholder="текст")
                    .search__input-item
                        input.search__input(type="text" placeholder="текст")
                    button.search__btn(type="sumbit") Поиск
        