.header {
    background-color: $d-white;
    box-shadow: 0px 4px 4px rgba(76, 143, 221, 0.5);
    position: relative;
    &__wrap {
        width: calc(100% + 76px);
        margin-left: -103px;
        color: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 0;
        @media #{$desktop} {
            max-width: 100%;
            margin-left: 0;
        }
    }
    &__logo {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        & img {
            @media #{$phone} {
                max-width: 47px;
                margin-left: 0;
            } 
        }
    }
    &__title {
        @include fz-18;
        color: $black;
        font-weight: 400;
        margin-left: 40px;
        @media #{$desktop} {
            margin-left: 20px;
        }
        @media #{$laptop} {
            @include fz-16;
            max-width: 165px;
        }
        @media #{$tablet} {
            display: none;
        }
    }
    &__nav {
        @include fz-18;
        color: $black;
        font-weight: 400;
        display: flex;
        align-items: center;
    }
    &__search {
        margin-right: 21px;
        cursor: pointer;
        position: relative;
        @media #{$laptop} {
            margin-right: 0;
        }
        @media #{$phone} {
            margin-right: 12px;
        } 
        @media screen and (max-width: 359px) {
            margin-right: 2px;
        }
    }
    &__search-form {
        position: relative;
        display: none;
        margin-bottom: 0;
    }
    &__search-input {
        @include fz-18;
        box-sizing: border-box;
        height: 35px;
        padding: 9px 30px 9px 9px;
        border: none;
        border-bottom: 1px solid $black;
        width: 332px;
        background: $d-white;
        &:focus-visible {
            outline: none;
        }
        &::placeholder {
            color: $gray;
            text-align: center;
        }
        @media #{$desktop} {
            width: 300px;
        }
        @media #{$laptop} {
            @include fz-16;
            width: 260px;
        }
        @media #{$phone} {
            @include fz-12;
            width: 200px;
            padding: 9px 20px 9px 7px;
        } 
        @media screen and (max-width: 359px) {
            width: 190px;
        }
    }
    &__search-btn {
        position: absolute;
        background-color: transparent;
        border: none;
        outline: none;
        width: 18px;
        right: 2px;
        top: 10px;
        height: 18px;
        background: url(../img/icons/filter.svg) center;
        cursor: pointer;
    }
    &__link {
        margin-left: 16px;
        &:hover {
            border-bottom: 1px solid $black;
        }
        @media #{$laptop} {
            @include fz-16;
        }
        @media #{$tablet} {
            display: none;
        }
    }
    &__menu {
        position: relative;
        cursor: pointer;
        margin-left: 40px;
        &::after {
            z-index: 3;
            position: absolute;
            content: "";
            background: url('../img/icons/arrow-down.svg') center no-repeat;
            width: 20px;
            height: 20px;
            top: calc(50% - 10px);
            right: -25px;
            @media #{$phone} {
                display: none;
            }
        }
        @media #{$desktop} {
            margin-right: 25px;
        }
        @media #{$laptop} {
            margin-left: 25px;
        }
        @media #{$tablet} {
            margin-right: 30px;
        }
        @media #{$phone} {
            width: 21px;
            margin-right: 0;
        }
        @media screen and (max-width: 359px) {
            margin-left: 15px;
        }
    }
    &__user {
        position: relative;
        z-index: 3;
        cursor: pointer;
        @media #{$phone} {
            display: none;
        }
    }
    &__burger {
        display: none;
        @media #{$phone} {
            display: block;
        }
        &-active {
            width: 17px;
            @media #{$phone} {
                position: fixed;
                top: 31px;
                right: 26px;
                z-index: 5;
            }
        }
        & path {
            transition: transform 0.5s;
            width: 21.25px;
            fill: $m-black;
        }
        &-active path:nth-of-type(1){
            transform: rotate(45deg);
            transform-origin: -1px 3px;
        }
        &-active path:nth-of-type(2){
            display: none;
        }
        &-active path:nth-of-type(3){
            transform: rotate(-45deg);
            transform-origin: 0px 13px;
        }
    }
    &__menu-list {
        @include fz-14;
        color: $black;
        text-align: center;
        position: absolute;
        top: calc(100% + 5px);
        width: 247px;
        z-index: 1;
        right: -100%;
        box-sizing: border-box;
        border: 1px solid $m-blue;
        border-radius: 10px 0 10px 10px;
        background: $d-white;
        padding: 33.33px 26px 0px;
        cursor: default;
        @media #{$phone} {
            position: fixed;
            padding: 23px 20px 0px;
            border: none;
            top: 0;
            right: 0;
            width: 100%;
        }
    }
    &__menu-user {
        display: none;
        & img {
            display: inline-block;
            max-width: 33.33px;
            max-height: 33.33px;
            margin-right: 10px;
        }
        @media #{$phone} {
            @include fz-12;
            color: $black;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            text-align: left;
            margin-right: 9.33px;
        }
    }
    &__menu-item {
        margin-bottom: 28px;
        &:hover {
            & a {
                cursor: pointer;
                padding-bottom: 8px;
                border-bottom: 1px solid $black;
            }
        }
        @media #{$phone} {
            padding: 10px;
            text-align: center;
            margin-bottom: 16px;
            border: 1px solid $m-blue;
            border-radius: 5px;
            &:hover {
                & a {
                    cursor: pointer;
                    padding-bottom: 0;
                    border: none;
                }
            }
        }
    }
}