.index-slider {
    overflow-y: visible;
    & .slick-track {
        overflow-y: visible;
    }
    & .slick-list {
        overflow-y: visible;
        overflow-x: clip;
    }
    & .slick-slide {
        margin-right: 28px;
        @media #{$phone} {
            margin-right: 14px;
        }
    }
}
.index__dots {
    margin-top: 28px;
    text-align: center;
    @media #{$phone} {
        margin: 18px 12px 18px 0;
    }
    & li {
        cursor: pointer;
        margin-right: 22px;
        display: inline-block;
        font-size: 0;
        width: 10px;
        height: 10px;
        background: $l-sky;
        border-radius: 50%;
        & button {
            opacity: 0;
            position: absolute;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    & .slick-active {
        background: $sky;
    }
}