.main {
    background: url(../img/index/main-bg.png);
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    @media #{$laptop} {
        background-position: center;
        padding-bottom: 40px;
    }
    @media #{$tablet} {
        padding-bottom: 40px;
    }
    @media #{$phone} {
        padding-bottom: 36px;
    }
    &-about {
        background: url(../img/index/head.png) center;
        background-size: cover;
        padding: 66px 0 63px ;
        @media #{$tablet} {
            padding: 45px 0;
        }
        @media #{$phone} {
            padding: 50px 0 46px;
            background-image: url(../img/index/head-mob.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &-comment {
        padding: 44px 0 53px;
        @media #{$tablet} {
            padding: 40px 0;
        }
        @media #{$phone} {
            padding: 0px 0 2px;
        }
    }
    &-article {
        padding: 43px 0 41px;
        @media #{$tablet} {
            padding: 37px 0 10px;
        }
        @media #{$phone} {
            padding: 26px 0 0;
        }
    }
    &__line {
        border-left: 0px;
        border-top: 1px solid $l-gray;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}
.about {
    &__title {
        position: relative;
        max-width: 55%;
        margin: 0 auto 50px;
        @include fz-36;
        font-weight: 700;
        text-align: center;
        padding: 10px;
        color: #2e2e2e;
        border-radius: 15px;
        z-index: 0;
        &::after {
            position: absolute;
            z-index: -1;
            content: "";
            background: rgba(220, 234, 233, 0.79);
            border-radius: 15px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            @media #{$phone} {
                background: none;
            }
        }
        @media #{$desktop} {
            max-width: 75%;
        }
        @media #{$tablet} {
            max-width: 80%;
            @include fz-24;
        }
        @media #{$phone} {
            background-color: $white;
            border-radius: 6px;
            @include fz-18;
            margin: 0 auto;
            padding: 5px;
            max-width: 90%;
        }
        @media #{$small-phone} {
            @include fz-14;
            background-size: cover;
        }
    }
    &__search {
        display: flex;
        max-width: 59%;
        margin: 0 auto;
        @media #{$tablet} {
            max-width: 80%;
        }
        @media #{$phone} {
            max-width: 100%;
            display: block;
            margin-top: 80px;
            text-align: center;
        }
    }
    &__input {
        @include fz-14;
        box-sizing: border-box;
        width: calc(100% - 108px);
        background-color: $white;
        color: $black;
        border: 1px solid $l-black;
        border-right: none;
        border-radius: 10px 0 0 10px;
        padding: 14px;
        &::placeholder {
            text-align: center;
            @media #{$phone} {
                color: $black;
            }
        }
        &:focus-visible {
            border: 1px solid $l-black;
            border-right: none;
            border-radius: 10px 0 0 10px;
            outline: none;
            @media #{$phone} {
                border: none;
                border-radius: 10px 10px 0px 0px;
            }
        }
        @media #{$phone} {
            max-width: 100%;
            width: 93%;
            margin: 0 auto;
            display: block;
            text-align: center;
            border-radius: 10px 10px 0px 0px;
            border: none;
        }
    }
    &__search-btn {
        box-sizing: border-box;
        @include fz-14;
        height: 100%;
        background-color: $sky;
        color: $black;
        border-radius: 0px 10px 10px 0px;
        border: 1px solid $sky;
        outline: none;
        margin: 0;
        padding: 14px 30px;
        cursor: pointer;
        transition: 0.3s ease-out;
        @media #{$phone} {
            max-width: 100%;
            width: 93%;
            margin: 0 auto;
            display: block;
            text-align: center;
            border-radius: 0px 0px 10px 10px;
            border: none;
            background: $sky;
        }
        &:hover {
            border: 1px solid $l-sky;
            background-color: $l-sky;
            @media #{$phone} {
                border-radius: 0px 0px 10px 10px;
                border: none;
                background-color: $l-sky;
            }
        }
    }
}
.advantages {
    max-width: 95%;
    margin: 50px auto 63px;
    display: flex;
    justify-content: space-between;
    @media #{$tablet} {
        margin: 0 auto 20px;
        padding-top: 18px;
        display: block;
        max-width: 100%;
    }
    @media #{$phone} {
        margin-top: 20px;
        border-top: 1px solid $l-gray;
    }
    &__item {
        position: relative;
        flex: 0 0 29.5%;
        text-align: center;
        &:last-child::after {
            display: none;
        }
        &::after {
            @media #{$tablet} {
                content: "";
                position: absolute;
                left: 6.25%;
                bottom: 0;
                width: 87.5%;
                height: 1px;
                background-color:  $l-gray;
            }
        }
        @media #{$tablet} {
            max-width: 80%;
            margin: 28px auto 0;
            padding-bottom: 24px;
        }
        @media #{$small-phone} {
            max-width: 100%;
        }
    }   
    &__img {
        text-align: center;
        height: 118px;
        margin-bottom: 30px;
        @media #{$phone} {
            margin-bottom: 13px;
            height: auto;
        } 
        & img {
            margin: 0 auto;
        }
    }
    &__title {
        @include fz-18;
        font-weight: 400;
        margin-bottom: 20px;
        @media #{$phone} {
            margin-bottom: 8px;
        } 
    }
    &__text {
        @include fz-14;
        text-align: left;
    }
}
.comment {
    &__title {
        @include fz-24;
        font-weight: 400;
        margin-top: 44px;
        margin-bottom: 54px;
        @media #{$phone} {
            @include fz-18;
            margin-top: 32px;
            margin-bottom: 24px;
        }
        @media #{$small-phone} {
            @include fz-14;
        }
    }
    &__wrap {
        padding: 0 30px;
        @media #{$tablet} {
            padding: 0;
        }
    }
    &__list {
        @media #{$tablet} {
            padding: 0 7px;
        }
    }
    &__item {
        position: relative;
    }
    &__img {
        margin-bottom: 12px;
        border-radius: 10px;
        @media #{$phone} {
            width: 100%;
            margin-bottom: 4px;
        }
        @media #{$small-phone} {
            max-height: 147px;
            object-fit: cover;
            object-position: top;
            margin-bottom: 4px;
        }
    }
    &__name {
        @include fz-18;
        text-align: center;
        @media #{$tablet} {
            @include fz-14;
        }
        @media #{$small-phone} {
            @include fz-12;
        }
    }
    &__rate {
        position: absolute;
        top: -5px;
        right: -15px;
        padding: 8px 10px;
        min-width: 46px;
        text-align: center;
        @include fz-18;
        color: $black;
        border-radius: 10px;
        @media #{$phone} {
            min-width: 27px;
            padding: 4px 4.5px;
            @include fz-12;
            border-radius: 4px;
            top: -5px;
            right: -11px;
        }
    }
}
.article {
    &__wrap {
        display: flex;
        @media #{$tablet} {
            display: block;
        }
    }
    &__img {
        margin-right: 38px;
        max-height: 320px;
        @media #{$phone} {
            margin-right: 0;
            max-height: 168px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__inner {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        max-width: 575px;
        @media #{$tablet} {
            max-width: 100%;
        }
        @media #{$phone} {
            margin: 16px 0 0;
        }
    }
    &__title {
        @include fz-18;
        font-weight: 700;
        margin-bottom: 29px;
        color: $black;
        @media #{$phone} {
            margin-bottom: 12px;
        }
    }
    &__text {
        flex: 1 0 auto;
        @include fz-14;
        color: $black;
        padding-bottom: 10px;
        @media #{$tablet} {
            padding-bottom: 0;
            margin-bottom: 16px;
        }
    }
    &__link {
        max-width: 231px;
        align-self: center;
        padding: 10px 30px;
        border: 1px solid $sky;
        background-color: $sky;
        border-radius: 6px;
        color: $black;
        transition: 0.3s ease-out;
        @include fz-18;
        @media #{$phone} {
            @include fz-12;
            padding: 7px 28px;
        }
        &:hover {
            border: 1px solid $l-sky;
            background-color: $l-sky;
        }
    }
}