.politician {
    padding: 40px 0 48px;
    &-header {
        padding: 0 0 36px;
        border-bottom: 1px solid $l-gray;
        &__wrap {
            display: flex;
            max-width: 989px;
            @media #{$laptop} {
                max-width: 100%
            }
            @media #{$tablet} {
                display: block;
            }
        }
        &__img {
           flex: 0 0 296px;
           margin-right: 66px;
           max-height: 330px;
           @media #{$tablet} {
                width: 100%;
                display: flex;
            }
            & img {
                @media #{$tablet} {
                    border-radius: 14px;
                }
                @media #{$phone} {
                    height: 150px;
                    align-self: center;
                }
            }
            & picture {
                @media #{$phone} {
                    height: 150px;
                    align-self: center;
                }
            }
        }
        &__photo{
            max-width: 296px;
            @media #{$tablet} {
                max-width: 152px;
            }
        }
        &__table {
            padding: 19px 26px 24px;
            border-radius: 10px;
            margin-top: 10px;
            border: 1px solid $m-blue;
            @media #{$laptop} {
                padding: 15px;
                margin-top: 0;
                width: 100%
            }
            @media #{$tablet} {
                margin-top: 40px;
                border: none;
                padding: 0;
            }
        }
        &__title {
            display: flex;
            border-bottom: 1px solid $m-blue;
            padding-bottom: 22px;
            padding-right: 25px;
            @media #{$tablet} {
                display: none;
            }
        }
        &__title--mobile {
            display: none;
            @media #{$tablet} {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 30px;
                padding-bottom: 0;
                border-bottom: none;
            }
            @media #{$phone} {
                margin-left: 18px;
                padding-right: 0;
                flex-basis: 45%;
            }
        }
        &__main {
            flex: 1 0;
            color: $black;
        }
        &__info-name {
            @include fz-18;
            font-weight: 400;
            margin-bottom: 8px;
            display: block;
            @media #{$phone} {
                @include fz-14;
                margin-bottom: 12px;
            }
        }
        &__info-post {
            @include fz-14;
            text-transform: uppercase;
            @media #{$phone} {
                @include fz-12;
                text-transform: none;
            }
        }
        &__stat {
            padding-top: 14px;
            @media #{$phone} {
                padding: 1px 10px;
            }
        }
        &__stat-parameter {
            @include fz-18;
            color: $black;
            margin-right: 38.5px;
            @media #{$tablet} {
                margin-bottom: 12px;
            }
        }
        &__stat-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 29px;
            &:last-child {
                margin-bottom: 0;
            }
            @media #{$tablet} {
                margin-bottom: 24px;
                display: block;
            }
        }
        &__stat-value {
            @include fz-18;
            color: $black;
        }
        &__stat-line {
            border-radius: 7px; 
            width: 259px;
            height: 12px;
            vertical-align: middle;
            margin-left: 8px;
            @media #{$laptop} {
                width: 200px;
            }
            @media #{$tablet-l} {
                width: 120px;
            }
            @media #{$tablet} {
                width: 259px;
            }
            @media screen and (max-width: 359px) {
                width: 200px;
            }
            &::-webkit-progress-bar {
                background-color: $m-gray;
                border-radius: 24px;
            }
            &::-webkit-progress-value {
                background-color: $sky;
                border-radius: 24px;
            }
        }
        &__info {
            padding-top: 26px;
            padding-left: 3%;
            display: flex;
            max-width: 975px;
            @media #{$laptop} {
                max-width: 100%;
            }
            @media #{$tablet} {
                padding-left: 0;
                flex-wrap: wrap;
            }
            @media #{$phone} {
                margin-top: 33px;
                border-top: 1px solid $l-gray;
                padding-top: 18px;
            }
        }
        &__list {
            @include fz-14;
            color: $black;
            margin-right: 24px;
            margin-top: 10px;
            @media #{$laptop} {
                margin-top: 0;
            }
        }
        &__list-item {
            margin-bottom: 16px;
            @media #{$phone} {
                margin-bottom: 13px;
            }
        }
        &__list-parameter {
            display: inline-block;
            @include fz-14;
            @media #{$phone} {
                @include fz-12;
            }
        }
        &__list-value {
            margin-left: 2pt;
            display: inline-block;
            @include fz-14;
            @media #{$phone} {
                @include fz-12;
            }
        }
        &__social {
            @media #{$phone} {
                margin-top: 11px;
                padding-top: 16px;
                width: 100%;
                border-top: 1px solid $l-gray;
            }
        }
        &__social-title {
            @include fz-18;
            color: $black;
            font-weight: 400;
            @media #{$phone} {
                @include fz-14;
            }
        }
        &__social-item {
            margin-top: 16px;
        }
        &__social-img {
            display: inline-block;
            vertical-align: bottom;
            max-width: 26px;
            margin-right: 5px;
        }
        &__social-text {
            display: inline-block;
            vertical-align: middle;
        }
        &__social-text dt{
            margin-right: 11px;
        }
        &__link {
            @include fz-18;
            align-self: flex-start;
            color: $sky;
            padding: 8px 30px;
            margin-left: auto;
            border: 1px solid $sky;
            border-radius: 6px;
            transition: 0.3s ease-out;
            @media #{$tablet} {
                display: none;
            }
            &:hover {
                color: $black;
                border: 1px solid $l-sky;
                background: $l-sky;
            }
        }
    }
    &-info {
        padding: 24px 0;
        @media #{$phone} {
            padding: 32px 0 20px;
        }
        &__title {
            @include fz-18;
            font-weight: 600;
            color: $black;
            @media #{$tablet} {
                text-align: center;
            }
            @media #{$phone} {
                @include fz-14;
            }
        }
        &__text {
            margin-top: 8px;
            margin-bottom: 60px;
            @include fz-18;
            color: $black;
            @media #{$phone} {
                @include fz-14;
                margin-bottom: 46px;
                margin-top: 15px;
            }
        }
        &__stars-wrap {
            display: flex;
            align-items: flex-start;
            max-width: 686px;
            margin-top: 24px;
            @media #{$tablet} {
                display: block;
            }
            @media #{$phone} {
                margin-top: 16px;
            }
        }
    }
    &-comments {
        @media #{$phone} {
            padding-top: 28px;
        }
        &__checked {
            margin-bottom: 60px;
            @media #{$phone} {
                margin-bottom: 32px;
            }
        }
        &__checked-title {
            @include fz-18;
            font-weight: 500;
            display: flex;
            max-width: 545px;
            @media #{$phone} {
                @include fz-14;
            }
        }
        &__checked-input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            & + label {
                display: inline-flex;
                align-items: center;
                user-select: none;
                margin-left: 28px;
                margin-top: -3px;
            }
            & + label::before {
                content: '';
                display: inline-block;
                width: 25.5px;
                height: 25.5px;
                border: 1px solid $sky;
                border-radius: 5px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
            &:checked+label::before {
                border-color: $sky;
                background-image: url("../img/icons/check.svg");
                background-size: cover;
            }
        }
        &__checked-text {
            margin-top: 16px;
            @include fz-14;
            max-width: 545px;
            @media #{$phone} {
                @include fz-12;
            }
        }
        &__item {
            max-width: 908px;
            margin-bottom: 20px;
            background: #dddddd;
            border-radius: 5px;
            padding: 13.33px 10px 10px 13px;
            @media #{$phone} {
                position: relative;
                padding: 10.33px 10px 10px 10px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &-head {
                display: flex;
                align-items: center;
            }
            &-content {
                display: flex;
                max-width: 100%;
            }
            &-date {
                margin-top: 8px;
                text-align: right;
                @include fz-10;
                color: $l-black;
            }
        }
        &__img {
            max-width: 33.33px;
            width: 33.33px;
            height: 33.33px;
            max-height: 33.33px;
            margin-right: 13px;
            @media #{$phone} {
                display: none;
            }
        }
        &__name {
            @include fz-14;
            color: $black;
            @media #{$phone} {
                @include fz-12;
            }
        }
        &__text {
            flex: 1 0 90%;
            margin-top: 11px;   
            @include fz-14;
            color: $black;
            @media #{$phone} {
                @include fz-12;
                margin-top: 25px;
                margin-right: 25px;
            }
        }
    }
}