.rating-result {
    @media #{$tablet} {
        text-align: center;
    }
    & span {
        display: inline-block;
        position: relative;
        padding: 0;
        margin-right: 18px;
        line-height: 1;
        width: 40px;
        height: 40px;
        background: url('../img/icons/star.svg') center no-repeat;
        background-size: cover;
        @media #{$tablet} {
            width: 30px;
            height: 30px;
        }
        @media #{$phone} {
            margin-right: 11px;
            width: 16px;
            height: 16px;
        }
    }
    & > span.active {
        background: url('../img/icons/star-full.svg') center no-repeat;
        background-size: cover;
    }
    & > span.semi-active {
        background: url('../img/icons/star-semi.svg') center no-repeat;
        background-size: cover;
    }
}
.rating-result--survey {
    @media #{$tablet} {
        text-align: left;
        margin-top: 8px;
    }
    & span {
        display: inline-block;
        position: relative;
        padding: 0;
        margin-right: 7px;
        width: 16px;
        height: 16px;
        background: url('../img/icons/star.svg') center no-repeat;
        background-size: cover;
    }
    & > span.active {
        background: url('../img/icons/star-full.svg') center no-repeat;
        background-size: cover;
    }
    & > span.semi-active {
        background: url('../img/icons/star-semi.svg') center no-repeat;
        background-size: cover;
    }
}
.rating-result--reviews {
    @media #{$tablet} {
        text-align: left;
        margin-top: 8px;
    }
    & span {
        display: inline-block;
        position: relative;
        padding: 0;
        margin-right: 7px;
        width: 16px;
        height: 16px;
        background: url('../img/icons/star-sky.svg') center no-repeat;
        background-size: cover;
        @media #{$tablet} {
            width: 16px;
            height: 16px;
        }
    }
    & > span.active {
        background: url('../img/icons/star-full-sky.svg') center no-repeat;
        background-size: cover;
    }
    & > span.semi-active {
        background: url('../img/icons/star-semi.svg') center no-repeat;
        background-size: cover;
    }
}
.rating-result--checked {
    & span {
        background: url('../img/icons/star.svg') center no-repeat;
        background-size: cover;
    }
    & > span.active {
        background: url('../img/icons/star-full.svg') center no-repeat;
        background-size: cover;
    }
    & > span.semi-active {
        background: url('../img/icons/star-semi.svg') center no-repeat;
        background-size: cover;
    } 
}
.rating-input {
	overflow: hidden;
	max-width: 584px;
    margin: 0 auto;
    text-align: center;
    @media #{$tablet} {
        max-width: 360px;
    }
    @media #{$phone} {
        max-width: 270px;
    }
}
.rating-input:not(:checked) > input {
	display: none;
}
.rating-input:not(:checked) > label {
    position: relative;
	float: right;
	width: 42px;
    height: 40px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
    margin-right: 16.33px;
    @media #{$tablet} {
        width: 25px;
        height: 25px;
        margin-right: 11px;
    }
    @media #{$phone} {
        width: 16px;
        height: 16px;
    }
}
.rating-input:not(:checked) > label:before {
	content: ' ';
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../img/icons/star.svg') center no-repeat;
    background-size: cover;
    left: 1;
    @media #{$tablet} {
        width: 25px;
        height: 25px;
    }
    @media #{$phone} {
        width: 16px;
        height: 16px;
    }
}
.rating-input > input:checked ~ label {
    background: url('../img/icons/star-full.svg') center no-repeat;
    background-size: cover;
}
.rating-input:not(:checked) > label:hover,
.rating-input:not(:checked) > label:hover ~ label {
    background: url('../img/icons/star-full.svg') center no-repeat;
    background-size: cover;
}
.rating-input > input:checked + label:hover,
.rating-input > input:checked + label:hover ~ label,
.rating-input > input:checked ~ label:hover,
.rating-input > input:checked ~ label:hover ~ label,
.rating-input > label:hover ~ input:checked ~ label {
    background: url('../img/icons/star-full.svg') center no-repeat;
    background-size: cover;
}
.rate-area > label:active {
	position: relative;
}