.scroll-top {
    cursor: pointer;
    display: table;
    position: fixed;
    bottom: 37%;
    left: 4.5%;
    color: $gray;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
    @media #{$desktop} {
        left: 1%;
        bottom: 15%;
    }
    @media #{$laptop} {
        left: 2px;
        bottom: 15%;
    }
    @media #{$tablet} {
        display: none!important;
    }
    &:hover {
        color: $sky;
        transition: 0.3s ease-out;
        .scroll-top__icon-wrap {
            transition: 0.3s ease-out;
            background-color: $sky;
        }
        .scroll-top__icon path {
            transition: 0.3s ease-out;
            fill: $white;
        }
    }
    &__icon-wrap {
        display: inline-block;
        width: 35px;
        height: 35px;
        padding: 7.17px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid $sky;
        background-color: $white;
        margin-right: 8px;
    }
    &__text {
        display: inline-block;
        @include fz-18;
        display:table-cell;
        vertical-align:middle;
        @media #{$desktop} {
            display: none;
        }
    }
}