.survey {
    &-wrap {
        padding: 60px 0 134px;
        max-width: 1000px;
        margin: 0 auto;
        @media #{$tablet} {
            padding: 20px 0 40px;
        }
    }
    &__form {
        border-radius: 10px;
        border: 1px solid $sky;
        padding: 51px 40px 60px;
        @media #{$tablet} {
            padding: 20px;
        }
        @media #{$phone} {
            border: none;
            padding: 0;
        }
        &--final {
            display: none;
        }
    }
    &__form-head {
        display: flex;
        justify-content: space-between;
        padding: 0 2%;
        @media #{$tablet} {
            padding: 0;
            flex-direction: column-reverse;
        }
    }
    &__form-info {
        max-width: 448px;
    }
    &__form-result {
        display: none
    }
    &__result-title {
        @include fz-24;
        font-weight: 400;
        color: $black;
        margin-bottom: 22px;
    }
    &__form-subtitle {
        @include fz-24;
        font-weight: 400;
        color: $black;
        margin-top: 29px;
        margin-bottom: 27px;
    }
    &__result-wrap {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $sky;
        min-width: 323px;
        @media #{$phone} {
            min-width: 280px;
        }
    }
    &__result-item {
        border-bottom: 1px solid $sky;
        padding-bottom: 8px;
        margin-bottom: 8px;
        @media #{$tablet} {
            padding-bottom: 10.5px;
        }
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    &__form-value {
        @include fz-18;
        color: $black;
    }
    &__form-title {
        @include fz-24;
        color: $black;
        margin-bottom: 24px;
        font-weight: 400;
        @media #{$phone} {
            @include fz-14;
        }
    }
    &__form-text {
        @include fz-18;
        color: $black;
        font-weight: 400;
        @media #{$phone} {
            @include fz-14;
        }
    }
    &__form-photo {
        display: flex;
        align-items: center;
        @media #{$tablet} {
            margin-bottom: 38px;
        }
        &--result {
            align-items: baseline;
            margin-top: 50px;
        }
    }
    &__form-img {
        max-width: 120px;
        max-height: 120px;
        border-radius: 14px;
        overflow: hidden;
    }
    &__form-politictan {
        margin: auto 0 auto 32px;
        max-width: 197px;
        &--result {
            margin-top: 0;
        }
    }
    &__form-name {
        @include fz-18;
        color: $black;
        font-weight: 400;
        margin-bottom: 8px;
        @media #{$phone} {
            @include fz-12;
        }
    }
    &__form-post {
        text-transform: uppercase;
        @include fz-14;
        color: $black;
        font-weight: 400;
        @media #{$phone} {
            @include fz-12;
        }
    }
    &__form-input {
        margin-top: 100px;
        text-align: center;
        position: relative;
        display: none;
        @media #{$tablet} {
            margin-top: 59px;
        }
        &--start {
            display: block
        }
    }
    &__error {
        position: absolute;
        width: 100%;
        top: -22px;
        margin: 0 auto;
        font-size: 16px;
        color: $red;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    &__form-question {
        @include fz-24;
        color: $black;
        font-weight: 400;
        margin-bottom: 29px;
        @media #{$phone} {
            @include fz-18;
            margin-bottom: 21px;
        }
    }
    &__form-review {
        padding: 0 2%;
        @media #{$tablet} {
            padding: 0;
        }
    }
    &__form-textarea {
        width: 100%;
        border-radius: 5px;
        background-color: $white;
        border: 1px solid $sky;
        resize: none;
    }
    &__form-btns {
        @include fz-24;
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
    }
    &__form-btn {
        border-radius: 5px;
        border: 1px solid $sky;
        color: $black;
        transition: 0.3s ease-out;
        padding: 10px;
        cursor: pointer;
        &:hover {
            border: 1px solid $l-sky;
            background-color: $l-sky;
            color: $black;
        }
    }
}