// fonts
$Montserrat: 'Montserrat',Helvetica,Arial,sans-serif;

// media
$desktop: 'screen and (max-width: 1600px)';
$laptop: 'screen and (max-width: 1280px)';
$tablet-l: 'screen and (max-width: 1024px)';
$tablet: 'screen and (max-width: 900px)';
$phone: 'screen and (max-width: 575px)';
$small-phone: 'screen and (max-width: 360px)';

//breakpoint
$width-xl: 1280px;
$width-lg: 960px;
$width-md: 640px;
$width-sm: 320px;

//colors
$white: #ffffff;
$d-white: #fafafa;
$black: #000000;
$l-black: #545454;
$m-black: #323232;
$gray: #969696;
$m-gray: #C4C4C4;
$d-gray: #434343;
$l-gray: #B5B5B5;
$blue: #4C8FDD;
$m-blue: rgba(76, 143, 221, 0.5);
$l-blue: #57A4FF;
$green: #5CC039;
$yellow: #FFF06B;
$l-red: #FF6B6B;
