.scroll-top.js-scrollTop
    .scroll-top__icon-wrap
        svg.scroll-top__icon(xmlns="http://www.w3.org/2000/svg" width="18.67" height="18.67" viewBox="0 0 19 19" fill="none")
            path(d="M0.166504 9.50002L1.8115 11.145L8.33317 4.63502V18.8334H10.6665V4.63502L17.1765 11.1567L18.8332 9.50002L9.49984 0.166687L0.166504 9.50002Z" fill="#54E1D9")
    span.scroll-top__text Наверх
footer.footer
    .container.container--footer
        .footer__wrap
            .footer__logo 
                img(src="@img/icons/logo.svg", alt="логотип")
                h2.footer__title Народная оценка политиков
            ul.footer__nav
                li.footer__link
                    a(href="politicians.html") Все политики
                li.footer__link
                    a(href="index.html") О проекте
script(src='js/app.min.js')