block variables
    - var title = 'Редактировать профиль'
html 
    head 
        include html/static/head
    body 
        .wrapper
            include html/static/header
            include html/change-profile
            include html/static/footer