block variables
    - var title = 'Главная'
html 
    head 
        include html/static/head
    body 
        .wrapper
            include html/static/header
            include html/main
            include html/static/footer