block variables
    - var title = 'Вход'
html 
    head 
        include html/static/head
    body 
        .wrapper
            include html/static/header
            include html/login
            include html/static/footer