block variables
    - var title = 'Политик'
html 
    head 
        include html/static/head
    body 
        .wrapper
            include html/static/header
            include html/politician
            include html/static/footer