block variables
    - var title = 'Все политики'
html 
    head 
        include html/static/head
    body 
        .wrapper
            include html/static/header
            include html/politicians
            include html/static/footer