block variables
    - var title = 'Регистрация'
html 
    head 
        include html/static/head
    body 
        .wrapper
            include html/static/header
            include html/register
            include html/static/footer