block variables
    - var title = 'Отзывы'
html 
    head 
        include html/static/head
    body 
        .wrapper
            include html/static/header
            include html/reviews
            include html/static/footer