block variables
    - var title = 'Поиск'
html 
    head 
        include html/static/head
    body 
        .wrapper
            include html/static/header
            include html/search
            include html/static/footer