block variables
    - var title = 'Оценка'
html 
    head 
        include html/static/head
    body 
        .wrapper
            include html/static/header
            include html/survey
            include html/static/footer